.cfooter {
	margin-left: 150px;
	margin-top: 10px;
}

.ccontainer {
	margin-top: -15px;
}

body{
	margin-bottom: 50px;
}

.crow {
	margin-top: 20px;
}

.sqltext {
	width: 200px;
}

.poster {
	margin-top: 20px;
	margin-right: 0px; 
	margin-left: 30px;
}

.stat {
	margin-top: -8px;
	margin-bottom: -8px;
}
